@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background: radial-gradient( circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.App {
    padding: 100px 0px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.calendar-title {
    font-size: 30px;
    color: #fff;
}

.calendar-inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.calendar-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-menu {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 6px 15px;
    border-radius: 10px;
    cursor: pointer;
    border: 0px;
    outline: none;
    background-color: rgb(129, 85, 140);
    color: #fff;
    text-transform: uppercase;
}

.day-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style-type: none;
    gap: 10px;
    justify-content: center;
}

.day-item {
    padding: 10px;
    flex: 0 1 12%;
    height: 100px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.day-item__user {
    font-weight: 400;
}

.form {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 15px;
}

.calendar-form {
    background-color: #fff;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    transition: all 0.2s;
    max-height: 0px;
    overflow: hidden;
}

.calendar-form--open {
    padding: 40px;
    max-height: 600px;
}

.form-item__input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    margin-top: 6px;
}

.form-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* color: #3498db; */
}

.form-item__label {
    font-size: 12px;
    text-transform: uppercase;
}

.form-item__error {
    color: red;
    font-size: 12px;
}